<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/style.css">
    <title>Document</title>
</head>

<body>
    @await Html.PartialAsync("_Navbar")

    @RenderSection("Categories",false)
    @if (IsSectionDefined("ProductMessage"))
    {
        @RenderSection("ProductMessage")
    }
    else
    {
        @RenderSection("WelcomeMessage",false)
    }

    @RenderSection("products",false)
    <main>
        <div class="container">
            @if (TempData["message"] != null)
            {
                var message = JsonConvert.DeserializeObject<AlertMessage>(TempData["message"] as string);
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-@message.alertType">
                            @message.message
                        </div>
                    </div>
                </div>
            }
            @RenderBody()
        </div>
    </main>


</body>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">

</html>